<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/strelive-db</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">123456</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.transaction.coordinator_class">jta</property>
        <property name="hibernate.transaction.jta.platform">org.hibernate.service.jta.platform.internal.JBossAppServerJtaPlatform</property>
        <mapping class="com.strelive.entities.Category"/>
        <mapping class="com.strelive.entities.Comment"/>
        <mapping class="com.strelive.entities.Like"/>
        <mapping class="com.strelive.entities.Role"/>
        <mapping class="com.strelive.entities.Stream"/>
        <mapping class="com.strelive.entities.Subscription"/>
        <mapping class="com.strelive.entities.User"/>
    </session-factory>
</hibernate-configuration>